ResourceCollectorXNA/ResourceCollectorXNA/bin/*
ResourceCollectorXNA/ResourceCollectorXNA/obj/*
ResourceCollectorXNA/ResourceCollectorXNAContent/bin/*
ResourceCollectorXNA/ResourceCollectorXNAContent/obj/*
ResourceCollectorXNA.suo
_ReSharper.ResourceCollectorXNA/*
ResourceCollectorXNA.5.1.ReSharper.user
ResourceCollectorXNA/ResourceCollectorXNA/ResourceCollectorXNA.csproj.Debug.cachefile